<!DOCTYPE html>
<html lang="en">
	{include file="public/head"}
	<body class="no-skin">
		<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">主页</a>
							</li>
							<li>
								<a href="#">个人信息</a>
							</li>
							<li class="active">基本信息</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>
					<div class="page-content">
						<div class="page-header">
							<h1>
								个人信息
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									基本信息
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="profile-user-info profile-user-info-striped">
						   <div class="profile-info-row">
								<div class="profile-info-name"> 登录类型 </div>

								<div class="profile-info-value">
									<span class="editable" id="username">{$xinxi->leixing|leixing}</span>
								</div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> 登录名 </div>

								<div class="profile-info-value">
									<span class="editable" id="username">{$xinxi->username}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> 手机</div>

								<div class="profile-info-value">
									<span class="editable" id="country">{$xinxi->mobile}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> 邮箱</div>

								<div class="profile-info-value">
									<span class="editable" id="age">{$xinxi->email}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> 注册日期 </div>

								<div class="profile-info-value">
									<span class="editable" id="signup">{$xinxi->create_time}</span>
								</div>
							</div>
						 </div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>
