<ul class="nav nav-list">
					<li class="active">
						<a href="index.html">
							<i class="menu-icon fa fa-home"></i>
							<span class="menu-text"> 系统首页 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-cogs"></i>
							<span class="menu-text">
								系统设置
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="{:url('Xitong/index')}" target="content">
									<i class="menu-icon fa fa-caret-right"></i>
									系统信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="{:url('Youhua/index')}" target="content">
									<i class="menu-icon fa fa-caret-right"></i>
									系统优化
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									系统管理
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="{:url('Gongnenglist/index')}" target="content">
											<i class="menu-icon fa fa-caret-right"></i>
											添加列表
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="{:url('Gongnengadd/index')}" target="content">
											<i class="menu-icon fa fa-caret-right"></i>
											添加功能
										</a>

										<b class="arrow"></b>
									</li>

									
								</ul>
							</li>
							
							
						</ul>
					</li>
	               {volist name="gongneng" id="vo"}
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text"> {$vo.name} </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							{volist name="$vo.child" id="v"}
							<li class="">
								<a href="tables.html">
									<i class="menu-icon fa fa-caret-right"></i>
									{$v.name}
								</a>

								<b class="arrow"></b>
							</li>


{/volist}



						</ul>
					</li>
	{/volist}
				</ul>